body {
  /*background-color: grey;*/
  /*margin-left: 620px;
  margin-right: 620px;*/
  /*background-color: grey;*/
}
.page_container {
  width: 900px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.header {
  /*background-color: green;*/
  width: 100%;
  height: 65px;
  margin-top: 10px;
  display: flex;

}

.logo {
  align-items: left;
  width: 50%;
  text-transform: uppercase;
  font-size: 70px;
  font-style: italic;
  /*background-color: blue;*/
}

.headlines {
  float: right;
  width: 50%;
}

.headline_1 {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  font-size: 40px;
  /*background-color: yellow;*/

}

.headline_2 {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
  font-size: 24px;
  /*background-color: red;*/
}

.headingline {
  background-color: #7d97ad;
  width: 100%;
  height: 2px;
}

.main_content_box {
  margin-top: 10px;
  /*background-color: blue;*/
  width: 96%;
  height: 450px;
  padding-left: 2%;
  padding-right: 2%;
  }

.main_content_image {
  border-radius: 6px;
}

.featured_work_headline {
  /*background-color: red;*/
  color: #2d3c49;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.featured_work {
  /*background-color: green;*/
  width: 100%;
  height: auto;
  display: flex;

}

.featured_work_box_1 {
  /*background-color: red;*/
  width: 32%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  margin: 0px;
  display: block;
}

img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  max-width: 100%;
}
.featured_work_image_1 {
  /*background-color: yellow;*/
  width: 100%;
  height: 70%;
  }

.image_description_1 {
  /*background-color: grey;*/
  width: 100%;
  height: 12%;
  text-transform: uppercase;
  font-size: 20px;
  color: #2d3c49;
  text-align: center;
  margin-top: 15px;
  }

.image_reference_1 {
  /*background-color: #02b3e4;*/
  width: 100%;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
}


.featured_work_box_2 {
  /*background-color: red;*/
  width: 32%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0px;
  display: block;
}

.featured_work_image_2 {
  /*background-color: yellow;*/
  width: 100%;
  height: 70%;
}

.image_description_2 {
  /*background-color: grey;*/
  width: 100%;
  height: 12%;
  text-transform: uppercase;
  font-size: 20px;
  color: #2d3c49;
  text-align: center;
  margin-top: 15px;
}

.image_reference_2 {
  /*background-color: #02b3e4;*/
  width: 100%;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
}

.featured_work_box_3 {
  /*background-color: red;*/
  width: 32%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  margin: 0px;
  display: block;
}

.featured_work_image_3 {
  /*background-color: yellow;*/
  width: 100%;
  height: 70%;
}

.image_description_3 {
  /*background-color: grey;*/
  width: 100%;
  height: 12%;
  text-transform: uppercase;
  font-size: 20px;
  color: #2d3c49;
  text-align: center;
  margin-top: 15px;
}

.image_reference_3 {
  /*background-color: #02b3e4;*/
  width: 100%;
  height: 10%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px;
}

.headingline {
  background-color: #7d97ad;
  width: 100%;
  height: 2px;
  margin-top: 20px;
}
